body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header,
.content {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: #f9faf8;
}

.header-links {
  font-size: 18px;
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
  color: #e5e7eb;
}
