body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

.header,
.content {
  display: flex;
  background-color: #1f2937;
  padding: auto 50px;
}

.header {
  justify-content: space-between;
  padding: 10px 120px;
  padding-bottom: 60px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: #f9faf8;
}

.header-links {
  font-size: 18px;
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
  color: #e5e7eb;
}

.content {
  flex-direction: column;
  padding: 0 120px;
  gap: 20px;
}

.section-one {
  display: flex;
  gap: 20px;
}

.section-one h1 {
  display: flex;
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.one-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.img-placeholder {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9faf8;
  background-color: gray;
  width: 400px;
  height: 200px;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

button {
  font-size: 18px;
  color: #f9faf8;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 5px 10px;
}
