body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.section-one,
.section-two,
.section-three,
.section-four {
  flex: 1;
}

.header,
.section-one {
  display: flex;
  background-color: #1f2937;
  padding: 0 20%;
}

.header {
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 60px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: #f9faf8;
}

.header-links {
  font-size: 18px;
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
  color: #e5e7eb;
}

.section-one {
  display: flex;
  gap: 20px;
  padding-bottom: 100px;
  flex: 1;
}

.section-one h1 {
  display: flex;
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.one-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.img-placeholder {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9faf8;
  background-color: gray;
  width: 400px;
  height: 200px;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

button {
  font-size: 18px;
  color: #f9faf8;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 5px 25px;
}

.section-two {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  gap: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card p {
  text-align: center;
  display: flex;
  max-width: 150px;
}

.card-img {
  border: 2px solid #3882f6;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

.section-three {
  display: flex;
  flex: 1;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: flex-start;
}

.quote {
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  padding: 100px 280px;
}

.quote-author {
  text-align: right;
  font-weight: bold;
}

.section-two,
.section-four {
  background-color: white;
}

.section-four {
  display: flex;
  flex: 1;
}

.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  color: #e5e7eb;
  padding: 20px;
}
